<footer>
    <div class="contactButtons">
        <a class="button" href="mailto:{{site.email}}" target="_top" title="email @ {{site.email}}"><img src="{{site.baseurl}}/images/email.png"></a>
        <a class="button" href="https://github.com/{{site.github_username}}" title="github @ {{site.github_username}}" target="_blank"><img src="{{site.baseurl}}/images/github.png"></a>
        <a class="button" href="https://www.linkedin.com/in/{{site.linkedin_username}}" title="linkedin @ {{site.linkedin_username}}" target="_blank"><img src="{{site.baseurl}}/images/linkedin.png"></a>
    </div>
    <div id="emailAddress">{{site.email}}</div>
</footer>
  