<header>
    <nav>
        <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="nav-links">
            <a class="top-menu" href="{{ site.baseurl }}/">Home</a>
            <a class="top-menu" href="{{ site.baseurl }}/#main-content-about">About</a>
            <a class="top-menu" href="{{ site.baseurl }}/#projectSection">Projects</a>
            <a class="top-menu" href="{{ site.baseurl }}/assets/files/am_resume.pdf">Resume</a>
            <a class="top-menu" href="{{ site.baseurl }}/contact">Contact</a>
        </div>
    </nav>
</header>