<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- css -->
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/footer.css"/>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/header.css"/>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/projects.css"/>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/init.css"/>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/fonts.css"/>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/about.css"/>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/contact.css"/>

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/images/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/assets/images/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/assets/images/fav//favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <!-- js -->
    <script src="{{ site.baseurl }}/assets/js/main.js"></script>
    <script src="{{ site.baseurl }}/assets/js/type.js"></script>
    <script src="{{ site.baseurl }}/assets/js/scroll-zoom.js"></script>
    <script src="{{ site.baseurl }}/assets/js/hamburger.js"></script>

    <!-- GSAP Script -->
    <script src="{{ site.baseurl }}/assets/js/gsap.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/ScrollTrigger.min.js"></script>
    
</head>