#aboutSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 8%;
    padding-bottom: 8%;
    position: relative;
    background-color: black;
}

.profile-image {
    width: 250px; /* Size of the image */
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.4s ease;
    margin-bottom: 10%;
    pointer-events: none;
}

.about-text-box {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 50%;
    justify-content: space-around;
    box-sizing: border-box;
    margin-top: 3%;
    margin-bottom: 4%;
    color: white;
}

.text-column {
    text-align: left;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    line-height: 1.381002381;
    font-weight: 500;
    letter-spacing: .011em;
    padding-right: 30px;
}

.education {
    position: relative;
    overflow: hidden;
    display: grid;
    grid-auto-flow: column;
    height: 100%;
    width: 50%;
}

.uw-img{
    display: block;
    height: 150px;
    width: auto;
}

.ib-img{
    display: block;
    height: 150px;
    width: auto;
}

.edu-textbox {
    display: grid;
    padding-top: 60px;
    border-top: none;
    row-gap: 50px;
}

.edu-caption {
    margin-left: 0;
    font-size: 28px;
    line-height: 1.1;
    font-weight: 500;
    letter-spacing: .007em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cap-purple {
    color: #5d2aaf;
}

.cap-blue {
    color: rgb(138, 174, 216)
}

.edu1 {
    margin-right: 4%; /* or 14px */
}

@media screen and (max-width: 768px) {
    #aboutSection {
      padding-top: 15%;
      padding-bottom: 15%;
    }
  
    .profile-image {
      width: 200px;
      height: 200px;
      margin-bottom: 8%;
    }
  
    .about-text-box {
      flex-direction: column;
      width: 85%;
      margin-top: 5%;
      margin-bottom: 8%;
    }
  
    .text-column {
      font-size: 18px;
      padding-right: 0;
      padding-bottom: 20px;
      text-align: center;
    }
  
    .education {
      width: 85%;
      grid-auto-flow: row;
      gap: 30px;
    }
  
    .uw-img, .ib-img {
      height: 120px;
      margin: 0 auto;
    }
  
    .edu-textbox {
      padding-top: 30px;
      row-gap: 30px;
      text-align: center;
    }
  
    .edu-caption {
      font-size: 24px;
      text-align: center;
    }
  
    .edu1 {
      margin-right: 0;
      margin-bottom: 30px;
    }
  }