footer {
    background-color: rgb(240, 240, 240);
    padding-top: 50px;
    padding-bottom: 50px;
}

.contact-buttons {
    text-align: center;
    letter-spacing: 20px;
}

#emailText {
    text-align: center;
    padding: 10px;
    letter-spacing: 0.9px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 17px;
    color: rgb(70, 70, 70);
}

#footnote {
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    padding-top: 4px;
    letter-spacing: 0.4px;
    /* color: rgb(70, 70, 70); */
}