header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    padding: 20px;
    z-index: 10;
    background-color: black;
}

header nav {
    margin-bottom: 10px;
    text-align: center;
}

header nav a.top-menu {
    display: inline-block;
    margin: 0 150px 0 150px;
    color: antiquewhite;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 1.3em;
    transition: color 0.3s;
    font-family: SF Pro Display;
}

header nav a.top-menu:hover {
    /* color: rgb(164, 164, 164); */
    color: rgb(253, 178, 81);
}