.hero-image {
    position: relative;
	height: 100vh;
	background-size: cover;
	background-attachment: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
}

#landingBackground {
    background-image: url(/assets/images/beach.png);
    background-position: center;
}

#aboutMeText {
    font-weight: normal;
}