.hero-image {
    position: relative;
	height: 100vh;
	background-size: cover;
    background-position: center;
	background-attachment: fixed;
    background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
}

#landingBackground {
    background-image: url(/assets/images/beach-sky.png);
    background-position: center;
}

.main-content {
    height: auto;
}

#introText {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    padding-top: 20%;
    padding-bottom: 20%;
}

#introTitle {
    font-size: 3em;
}

#introduction {
    font-size: 1.2em;
    display: flexbox;
}